# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Structurizr
.structurizr
workspace.json

# Logs
*.log

# Visual Studio Code
/.vscode
/.vs
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Structurizr/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json


# Idea
/.idea

# Ignore macOS Finder files
*/.DS_Store
.DS_Store

# Dependencies
node_modules/
Docs/structurizr/index
